<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Endereço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.cpf}"></td>
                <td th:text="${cliente.endereco}"></td>
                <td>
                    <a th:href="@{/clientes/editar/{id}(id=${cliente.id})}">Editar</a>
                    <a th:href="@{/clientes/deletar/{id}(id=${cliente.id})}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/clientes/cadastrar">Cadastrar Novo Cliente</a>
</body>
</html>
